<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>black paint q_a</title>

<link rel="stylesheet" href="./lib/reset.css">
<script src="./lib/localforage@1.10.0.js"></script>
<script src="./lib/vue@3.2.36.global.prod.js"></script>
<script src="./lib/ramda.@0.28.0.js"></script>
<script src="./lib/shuffle.js"></script>
<script src="./lib/my_global_function_for_q_a.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/localforage@1.10.0/dist/localforage.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.prod.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.28.0/ramda.min.js"></script> -->

<style>
    /* not_quiz_sectionをサイドバーで表示/非表示を切り替え */
    .column-1 {
        position: fixed;
        top: 0;
        left: 0;
        width: 5rem;
        height: 100vh;
        background-color: #f1f1f1;
        z-index: 100;
    }
    /* quiz_sectionをnot_quiz_sectionの分横にずらす */
    .column-2 {
        position: relative;
        top: 0;
        left: 5rem;
        width: calc(100% - 5rem);
        height: 100vh;
        /* background-color: #f1f1f1; */
        background-color: gray;
        z-index: 1;
    }
.column-2-when-display-none-column-1 {
        position: relative;
        top: 0;
        left: 0;
        width: calc(100%);
        height: 100vh;
        /* background-color: #f1f1f1; */
        background-color: gray;
        z-index: 1;
}
    .display-none-column-1{
        display: none;
        /* 非表示にして要素が無いものとする */
        width: 0;
        height: 0;
    }

    .disable_temporary{
        display: none;
    }


    .slide_mode_color{
        /* 薄い緑色 */
        background-color: #DDFFDD;
    }
    /* スライドの表示を設定 qは左寄せ, aは右寄せ */
    .q{
        text-align: left;
    }
    .a{
        text-align: right;
    }

    /* 2択最速回答(時間決めてor時間測定) */
    .black-paint {
        color: black;
        background-color: black;
    }
</style>


</head>
<body class="app">

<!-- toggle_sidebar()でdisplay-none-column-1で表示/非表示を切り替える -->
<!-- <div class="column-1"> -->
<div :class="column_1_none ? 'display-none-column-1' : 'column-1'">
    <div class="optional_function">
        <button @click="reverse_q_a">🔃</button>
        <button @click="shuffle_q_a">🌪️</button>
        <button @click="swap_q_a">🔁</button>
        <button @click="save_data_to_all_save">🗂️</button>
    </div>
    <button @click="fn19_0" class="save_opener">📂</button>
    <ul style='display: block' ref="save_data_set_list_parent1">
    <li v-for="(DATAVAL, DATAIDX) in all_save" class="save_data_set_list">
        <span @click="save_data_set(DATAIDX)">{{ [DATAVAL[0].split("\n")[0], DATAVAL[1].split("\n")[0]] }}</span>
        <button @click="save_data_set(DATAIDX)" class="save_data_set">📂</button>
        <button @click="save_data_delete(DATAIDX)" class="save_data_delete">🗑️</button>
    </li>
    </ul>
    <div v-for="(DATA_VAL, DATA_IDX) in textContent_ary_1">
        <div>
            <button @click="set_data_sample_array_obj(DATA_IDX)">{{ file_name_ary[DATA_IDX] }}</button>
        </div>
    </div>
    <div v-for="(DATA_VAL, DATA_IDX) in sample_array_obj">
        <button @click="set_data_sample_array_obj(DATA_IDX)">set_data_sample_array_obj({{ DATA_IDX }})</button>
    </div>




<div class="disable_temporary">
    <!-- <button @click="fn19_1" class="save_opener">🌐</button>
    <div ref="save_data_set_list_parent2">
    <div v-if="return_current_temporary_list()" class="simple_mode1">
        <div class="additional_parent">
            <div class="additional_child">👥 <button v-if="show_user" @click="show_all_user">{{ show_user }}</button></div>
            <div class="additional_child">🏷️ <button v-if="show_tag" @click="show_all_tag">{{ show_tag }}</button></div>
            <div class="additional_child">⬆️⬇️ <button @click="change_show_order_by">{{ show_order_by }}</button></div>
            <div class="additional_child_small">
                <input type="radio" id="option1" value="advanced" v-model="advanced_visible">
                <label for="option1"></label>
                <input type="radio" id="option2" value="not_advanced" v-model="advanced_visible">
                <label for="option2"></label>
            </div>
        </div>
        <div class="flex_child q_a_data" ref="flex_child_display_q_a_data">
        <ul class="simple_mode1">
        <li v-for="(DATA_VAL, DATA_IDX) in return_current_temporary_list()" class="block_of_one simple_mode1">
            <div class="data_type" v-if="DATA_VAL['data_type']">{{ DATA_VAL['data_type'] }}</div>
            <div :style="apply_inline_block_styles_all_at_once(false, true)" class="download_data" @click="download_data(DATA_VAL['id'])">⬆️</div>
            <span v-if="DATA_VAL['likes'].length === 0"
                @click="fetch_like_increment_or_decrement(DATA_VAL['id'])">
                {{ '♡' }}</span>
            <span
                v-for="(like, like_i) in DATA_VAL['likes']"
                @click="fetch_like_increment_or_decrement(DATA_VAL['id'])">
                {{ '❤️' }}</span>
            <ul class="tags_parent">
                <li v-for="(Tag, Tag_I) in DATA_VAL['tags']" class="tags">
                    <button @click="change_show_tag(Tag['tag'])">{{ Tag['tag'] }}</button>
                    <button
                        v-if="DATA_VAL['tags'].length >0"
                        @click="fetch_delete_tag(DATA_VAL['id'], Tag['id'])"
                        :style="{ display: tag_more_visible ? 'inline' : 'none' }"
                        >🗑️</button>
                </li>
            </ul>
            <button @click="show_tag_more_button" class="show_tag_more_button">🏷️→</button>
            <div :style="{ display: tag_more_visible ? 'block' : 'none' }">
                <input list="tag-options" v-model="search_tag" @input="fetch_get_tags_for_autocomplete" @change="fetch_get_tags_for_autocomplete">
                <datalist id="tag-options" @click>
                    <option v-for="(tag_option, tag_option_i) in tags" :value="tag_option.tag">{{ tag_option.tag }}</option>
                </datalist>
                <button @click="fetch_insert_tag(DATA_VAL['id'])">🏷️🏷️🏷️</button>
            </div>
            <div class="top_right advanced">
                <ul class="dialog_ul">
                <li class="dialog_li" v-for="(Other_Of_One, Other_Of_One_I) in other_data_type(DATA_VAL['data_type'])">
                    <span class="synapse" @click="synapse(DATA_VAL['data_type'], Other_Of_One,
                        data_json_parse_online_data_A_online_data_B(DATA_VAL['data_json_str'])['data1'],
                        data_json_parse_online_data_A_online_data_B(DATA_VAL['data_json_str'])['data2'],
                    )" :style="{ display: synapse_visible ? 'block' : 'none' }">{{ choice_emoji(Other_Of_One) }}</span>
                </li>
                </ul>
                <div @click="showDialog" class="showDialog">⚙️</div>
            </div>
            <div class="bottom_right">
                <div class="created_at">{{ date_time_form(DATA_VAL['created_at']) }}</div>
                <button @click="change_show_user(DATA_VAL['username'])">{{ DATA_VAL['username'] }}</button>
                <div class="id">{{ DATA_VAL['id'] }}</div>
            </div>
            <div class="clickable_for_short_or_long simple_mode1 " @click="short_or_long( DATA_VAL['id'] )" ref="exception">
                <div class="simple_mode1 data_a_b_text">{{ truncateText( data_json_parse_online_data_A_online_data_B(DATA_VAL['data_json_str'])['data1'], DATA_VAL['id'] ) }}</div>
                <div class="simple_mode1 data_a_b_text">{{ truncateText( data_json_parse_online_data_A_online_data_B(DATA_VAL['data_json_str'])['data2'], DATA_VAL['id'] ) }}</div>
            </div>
            <div class="bottom_middle" @click="comment_and_tag_toggle">💬␡</div>
                <div class="comment_and_tag" @click="comment_and_tag_toggle" :style="{ display: comment_and_tag_visible ? 'block' : 'none' }">
                <ul>
                <li v-for="(COMMENT_AND_REPLIES, COMMENT_IDX) in DATA_VAL['comments_and_replies']">
                    {{ COMMENT_AND_REPLIES[COMMENT_IDX]['comment'] }}
                    <span :style="{ display: comment_button_visible ? 'inline-block' : 'none' }">
                        <button @click.stop="change_show_user(COMMENT_AND_REPLIES[COMMENT_IDX]['username'])">{{ COMMENT_AND_REPLIES[COMMENT_IDX]['username'] }}</button>
                        <button class="advanced" @click.stop="fetch_delete_comment(COMMENT_AND_REPLIES[COMMENT_IDX]['id'])">🗑️</button>
                    </span>
                        <input class="advanced" type="text" v-model="comment_reply" placeholder="comment_reply" @click.stop>
                        <button class="advanced" @click.stop="fetch_insert_comment_reply(COMMENT_AND_REPLIES[COMMENT_IDX]['id'])">💬</button>
                    <ul>
                        <li v-for="(REPLIES, REPLIES_PROP) in COMMENT_AND_REPLIES['comment_replies'] ">
                        <span style="margin-left: 1rem;"></span>{{ REPLIES['reply'] }}
                        <span :style="{ display: comment_button_visible ? 'inline-block' : 'none' }">
                            <button @click.stop="change_show_user(REPLIES['username'])">{{ REPLIES['username'] }}</button>
                            <button class="advanced" @click.stop="fetch_delete_comment_reply(REPLIES['id'])">🗑️</button>
                        </span>
                        </li>
                    </ul>
                </li>
                </ul>
                <input class="advanced" type="text" v-model="comment" placeholder="comment" @click.stop>
                <button class="advanced" @click.stop="fetch_insert_comment(DATA_VAL['id'])">💬💬💬</button>
                <div style="margin-top: 0.5rem" @click.stop>
                    <button @click.stop="fetch_delete_link(DATA_VAL['id'])" class="bigger_font">␡</button>
                    <button class="advanced" @click.stop="show_comment_button" class="bigger_font">💬→</button>
                </div>
            </div>
        </li>
        </ul>
        </div>
    </div>
    </div>
    <div>
        <button @click="fetch_insert_link" class="fetch_insert_link">📲🛫📲🚀📲</button>
        <input type="text" v-model="name" placeholder="name" class="name">
        <input type="password" v-model="password" placeholder="password" class="password">
    </div> -->
</div>














<button @click="textarea_opener" class="textarea_opener">📝</button>
    <div class="textarea-column-1" id="target">
    <textarea name="" id="textarea-column-1-1" rows="30" cols="" v-model="data_a" :style="{ display: textarea_visible ? 'block' : 'none' }"></textarea>
    <textarea name="" id="textarea-column-1-2" rows="30" cols="" v-model="data_b" :style="{ display: textarea_visible ? 'block' : 'none' }"></textarea>
    </div>
    <!-- <button @click="fn21(1)" class="font_sizing">◉</button>
    <button @click="fn21(-1)" class="font_sizing">⦿</button>
    <button @click="fn21" class="font_sizing">◎</button> -->


    <button @click="go_to_f_i_b" class="font_sizing">go_to_f_i_b</button>
    <button @click="go_to_i_t_n" class="font_sizing">go_to_i_t_n</button>
    <button @click="go_to_t_q_a" class="font_sizing">go_to_t_q_a</button>
</div>

<div :class="column_1_none ? 'column-2-when-display-none-column-1' : 'column-2'">
                <button @click="q_a_change_current_index(-1)" class="check_button" v-if="only_one_q_a_mode">⬆️</button>

<div class="quiz_section">
    <button @click="toggle_sidebar">Toggle Sidebar</button>

    <button @click="mode = 'choose'">選択モード</button>
    <button @click="mode = 'maru_batu'">⭕️❎問題モード</button>
    <button @click="mode = 'black_paint'">黒塗りモード</button>
    <button @click="mode = 'slide'">スライドモード</button>
    <div v-if="show_textarea">
    <textarea name="" id="" cols="30" rows="10" v-model="data_0"></textarea>
    <textarea name="" id="" cols="30" rows="10" v-model="data_1"></textarea>
    </div>
    <template v-for="(DATA_VAL, DATA_IDX) in exe1_data">
    <div v-if="mode === 'maru_batu'">
    <div v-if="DATA_VAL[3] === false">
        <span>{{ DATA_VAL[0] }}</span>
        <span> = </span>
        <span>{{ DATA_VAL[2][0] }}</span>
        <div>
            <button @click="check_maru_batu(DATA_VAL, DATA_VAL[2][0])">⭕️</button>
            <button @click="check_maru_batu(DATA_VAL, DATA_VAL[2][1])">❎</button>
        </div>
    </div>
    </div>

    <div v-if="mode === 'black_paint'">
        <div>{{ DATA_VAL[0] }}</div>
        <div @click="change_paint_or_raw(DATA_IDX)" :class="DATA_VAL[4] ? 'black-paint' : ''">{{ DATA_VAL[2][0] }}</div>
    </div>

    </template>
    <div v-if="mode === 'slide'" class="slide_mode_color">
        <!-- slidesの全部の長さと現在のスライドのインデックスを表示 -->
        <div>{{ currentIndex }} / {{ slides.length }}</div>

        <br>
        <br>
        <br>

        <!-- 現在のスライドを表示 -->
        <!-- <div @click="next_slide">{{ slides[currentIndex] }}</div> -->
        <div v-if="slides.length > 0">
            <div v-if="slides[currentIndex].q" class="q" @click="next_slide">{{ slides[currentIndex].q }}</div>
            <div v-if="slides[currentIndex].a" class="a" @click="next_slide">{{ slides[currentIndex].a }}</div>
        </div>
        <!-- 最初のスライドに -->
        <button @click="first_slide">最初へ</button>
        <!-- 前のスライドに移動するボタン -->
        <button @click="prev_slide">前へ</button>
        <!-- 次のスライドに移動するボタン -->
        <button @click="next_slide">次へ</button>
        <!-- auto slide mode button(auto slide状態の時にクリックするとstop_autoslide) -->
        <div v-if="!auto_slide_mode">
            <button @click="auto_slide">auto slide</button>
                <!-- input numberでtime_intervalを設定 100刻みで変更できて最低値を100とする -->
                <input type="number" v-model="time_interval" min="0.1" step="0.1">秒
        </div>
        <div v-if="auto_slide_mode">
            <button @click="stop_auto_slide">stop auto slide</button>
        </div>

    </div>

    <div v-if="mode === 'choose'">
        <div><progress value="0" max="100" id="prgr"></progress></div>
        <template v-for="(DATAVAL, DATAIDX) in q_a_data4" class="simple_mode2">
        <div class="q_and_a simple_mode2 minimum" v-if="only_one_q_a_mode ? DATAIDX === current_index : true">
            <span class="text_right simple_mode2" @click="q_a_fn20(DATAIDX)">{{ q_a_data5[DATAIDX] }}</span>
            <button class="simple_mode2" v-for="item in DATAVAL[1]" @click="q_a_fn3(DATAVAL[0], item, DATAIDX)">{{ item }}</button>
            <span class="text_center simple_mode2">{{ DATAVAL[2] }}</span>
        </div>
        </template>
        <button @click="q_a_change_current_index(+1)" class="check_button" v-if="only_one_q_a_mode">⬇️</button>
        <button @click="q_a_fn4" class="check_button">🎮</button>
    </div>
</div>






            <!-- <div v-if="data_type=== 'f_i_b'">
                <span v-for="(DATAVAL, DATAIDX) in f_i_b_data9" class="simple_mode2 minimum">
                    <span @click="" v-if="typeof DATAVAL === 'string'" ref="core" class="simple_mode2">{{ DATAVAL }}</span>
                    <template v-if="typeof DATAVAL === 'object'" class="simple_mode2">
                    <select name="" id="A" @change="f_i_b_check_option(DATAIDX)" style="background-color: ''" ref="core" class="simple_mode2">
                        <option v-for="(FOO, BAR) in DATAVAL[1]" :value="FOO" class="simple_mode2">
                            {{ FOO }}
                        </option>
                    </select>
                    </template>
                </span>
                <button @click="f_i_b_fn5" class="check_button">🎮</button>
            </div> -->





            <!-- <div v-if="data_type=== 'i_t_n'">
                <ul class="centering simple_mode2 minimum">
                <li v-for="(item, IDX) in i_t_n_data5" :key="item" class="result_color simple_mode2" :style="{display: i_t_n_data5_result ? 'block' : 'none'}">
                <div class="simple_mode2" v-if="only_one_q_a_mode ? IDX === current_index : true">
                <span class="OK_or_NG simple_mode2">{{ i_t_n_true_or_false_to_emoji(item[2]) }}</span>    
                <span class="answer simple_mode2">{{ item[0] }}</span>
                <span class="any simple_mode2">
                <img :src="item2" :alt="item[0]" class="png_image png_image_back simple_mode2" @click="i_t_n_check_image_to_name(item[1][0], item2, IDX)"  v-for="item2 in item[1][1]" >
                </span>
                </div>
                </li>

                <div v-for="(item, IDX) in i_t_n_data9_x" :key="item" :style="{display: i_t_n_data9_result ? 'block' : 'none'}">
                <div class="i_t_n_data9_x_parent">
                <div class="OK_or_NG">{{ i_t_n_true_or_false_to_emoji(item[2]) }}</div>
                <img :src="item[0]" :alt="item[0]" class="png_image" >
                <button v-for="(item2,item2_IDX) in item[1][1]" 
                :class="'common_choose_the_answer_image choose_the_answer_image_'+item2_IDX"
                @click="i_t_n_check_name_to_image(item[1][0], item2, IDX)">
                {{ item2 }}
                </button>
                </div>
                </div>

                <button @click="i_t_n_filter_image_and_name" class="check_button">🎮</button>
                </ul>
            </div> -->



            <div>
                <button @click="fn18" class="result_opener">📖</button>
                <template v-for="(DATAVAL, DATAIDX) in online_data_A">
                    <div class="textarea-column-2">
                    <div class="a">
                        <button @click="fn9(DATAIDX)" class="a-1">↩️</button>
                        <button @click="fn16(DATAIDX)" class="a-2">🗑️</button>
                        <button @click="fn17(DATAIDX)" class="a-3">📚</button>
                    </div>
                <textarea name="" cols="30" rows="10" class="b" style='display: block;' ref="results">{{ DATAVAL[0] }}</textarea>
                <textarea name="" cols="30" rows="10" class="c" style='display: block;' ref="results">{{ DATAVAL[1] }}</textarea>
                    </div>
                </template>
            </div>
</div>













</body>



<script>
const app = Vue.createApp({
data() {
return {
column_1_none: false,

slides: [],
currentIndex: 0,
auto_slide_mode: false,
time_interval: 0.5,
// mode: 'maru_batu',
// mode: 'black_paint',
mode: 'slide',
file_name_ary: [],
textContent_ary_1: [],
textContent_ary_2: [],
exe1_data: [],
data_0: `aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
ccccccccccccccccccccccccccccccccccc
ddddddddddddddddddddddddddddddddddddddddddddd
eeeeeeeeeeeeeeeeeeeeeeee`,
data_1: `AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
EEEEEEEEEEEEEEEEEEEEEEEE`,
sample_array_obj: [],













all_save: [],
online_data_B: [],
data_b: '',
q_a_data4: [],
q_a_data5: [],
data_a: '',
online_data_A: [],
test_mode: false,


current_index: 0,
only_one_q_a_mode: false,


// for_online_function
name: 'user1',
password: 'user_pass1',
tags: [],
search_tag: '',
web_data: {},
show_user: '',
show_tag: '',
show_order_by: 'DESC',
data_type: 'q_a',
link: '',
truncate_text_length: 100,
untruncate_text_array: [],
// endpoint: 'http://localhost:8000',
endpoint: 'https://cotton-concrete-catsup.glitch.me',
only_q_a_list: [],
only_f_i_b_list: [],
only_i_t_n_list: [],
temporary_list: [],
simple_funtionable_flag: false,
only_show_flag: false,
tag_more_visible: false,
comment_button_visible: false,
synapse_visible: false,
comment_and_tag_visible: false,
textarea_visible: false,

advanced_visible: 'not_advanced',
// for_online_function

}},
watch: {

data_b: {
    handler() {
    this.q_a_processing();
    },
    deep: true
},
data_a: {
    handler() {
    this.q_a_processing();
    },
    deep: true
},

},
beforeCreate(){},
created(){},
beforeMount(){},
async mounted() {
await this.set_up();

this.q_a_processing();
this.save_data_load();
},
beforeUpdate() {},
async updated() {},
methods: {
async set_up(){
    const text_url_ary_1 = [
        './asset/txt_dir/res_2_ary_1.txt',
        './asset/txt_dir/res_2_2_ary_1.txt',
        './asset/txt_dir/res_3_ary_1.txt',
        './asset/txt_dir/res_4_ary_1.txt',
        './asset/txt_dir/res_5_ary_1.txt',
    ];
    const text_url_ary_2 = [
        './asset/txt_dir/res_2_ary_3.txt',
        './asset/txt_dir/res_2_2_ary_3.txt',
        './asset/txt_dir/res_3_ary_3.txt',
        './asset/txt_dir/res_4_ary_3.txt',
        './asset/txt_dir/res_5_ary_3.txt',
    ];
    const global_file_name_ary = [
        '英検2級',
        '英検準2級',
        '英検3級',
        '英検4級',
        '英検5級',
    ];
    this.file_name_ary = global_file_name_ary;
    for(let i = 0; i < text_url_ary_1.length; i++){
        const response = await fetch(text_url_ary_1[i]);
        this.textContent_ary_1.push(await response.text());
    }
    for(let i = 0; i < text_url_ary_2.length; i++){
        const response = await fetch(text_url_ary_2[i]);
        this.textContent_ary_2.push(await response.text());
    }
    if(this.textContent_ary_1.length !== this.textContent_ary_2.length){
        console.error('textContent_ary_1とtextContent_ary_2のlengthが異なります');
    }

    this.set_data_sample_array_obj(0);
},

// sample_array_objからIDX指定してsample_array_objのdata_0とdata_1をtextareaに格納する関数
set_data_sample_array_obj(IDX){
    if(this.text_attacher(IDX) === true){
        this.exe1();
        return;
    }
    this.data_a = this.textContent_ary_1[IDX];
    this.data_b = this.textContent_ary_2[IDX];
    this.exe1();
},
go_to_f_i_b(){
    window.location.href = './f_i_b.html';
},
go_to_i_t_n(){
    window.location.href = './i_t_n.html';
},
// <!-- go to t_q_a.html -->
go_to_t_q_a(){
    window.location.href = './t_q_a.html';
},

// q_a_change_only_one_q_a_modeとは、q_aの問題を一つずつ表示するか、全て表示するかを切り替える関数
q_a_change_only_one_q_a_mode(){
    this.only_one_q_a_mode = !this.only_one_q_a_mode;
},


async save_data_to_all_save(){
    try {
    const item_key = this.data_type;
    this.all_save.push(to_ary([this.data_a, this.data_b]));
    await localforage.setItem(item_key, JSON.stringify(this.all_save));
    } catch (error) {
        console.log(error);
    };
},
async save_data_load() {
    try {
    const item_key = this.data_type;
    this.all_save = JSON.parse(await localforage.getItem(item_key)) || [];
    } catch (error) {
        console.log(error);
    }
},
async save_data_delete(INDEX){
    try {
    const item_key = this.data_type;
    if (window.confirm("Do you really want to delete??🦖\n本当に削除する？?🦕\n" + R.zip(this.all_save[INDEX][0].split("\n"), this.all_save[INDEX][1].split("\n")).join("\n") )) {
        this.all_save.splice(INDEX, 1);
        await localforage.setItem(item_key, JSON.stringify(this.all_save));
    };
    } catch (error) {
        console.log(error);
    }
},

save_data_set(INDEX){
    this.data_a = this.all_save[INDEX][0];
    this.data_b = this.all_save[INDEX][1];
},






fn9(IDX){
this.data_a = this.online_data_A[IDX][0];
this.data_b = this.online_data_A[IDX][1];
},
reverse_q_a(){
this.data_a = this.data_a.split("\n").reverse().join("\n");
this.data_b = this.data_b.split("\n").reverse().join("\n");
},
shuffle_q_a(){
shuffled_data = R.transpose(shuffle(R.zip(
    this.data_a.split("\n"),
    this.data_b.split("\n")
)));
this.data_a = shuffled_data[0].join("\n");
this.data_b = shuffled_data[1].join("\n");
},
swap_q_a(){
if(this.data_type === 'i_t_n'){
    // i_t_nにおいては実際にはdata_aとdata_bのスワップはせず、
    // data_aとdata_bの表示のみをスワップする
    this.i_t_n_change_result();
    this.change_to_i_t_n();
    return;
};
[tmp0, tmp1] = [this.data_a, this.data_b];
[this.data_a, this.data_b] = [tmp1, tmp0];
},
fn16(INDEX){
this.online_data_A.splice(INDEX, 1);
},
fn18(){
    const RESULTS = this.$refs.results;
        RESULTS.map(ELM=>ELM.style.display).some(DISPLAY=>DISPLAY==='block' || DISPLAY==='') ?
            RESULTS.map(ELM=>ELM.style.display = 'none') :
            RESULTS.map(ELM=>ELM.style.display = 'block');
},
fn19_0(){
    const THE_STYLE_DISPLAY1 = this.$refs.save_data_set_list_parent1.style.display;
    this.$refs.save_data_set_list_parent1.style.display = (THE_STYLE_DISPLAY1 === 'block' || THE_STYLE_DISPLAY1 === '') ? 'none' : 'block';
},
fn19_1(){
    const THE_STYLE_DISPLAY2 = this.$refs.save_data_set_list_parent2.style.display;
    this.$refs.save_data_set_list_parent2.style.display = (THE_STYLE_DISPLAY2 === 'block' || THE_STYLE_DISPLAY2 === '') ? 'none' : 'block';
},






for_debug(){
online_data_B = to_ary(this.online_data_B);
data_b = to_ary(this.data_b);
q_a_data5 = to_ary(this.q_a_data5);
data_a = to_ary(this.data_a);
online_data_A = to_ary(this.online_data_A);
},


// for_online_function
// only_service_data(){
//     this.temporary_list[0] = this.web_data.message.filter(V=> V.data_type === this.data_type);
// },
data_json_parse_online_data_A_online_data_B(JSON_STR_online_data_A_online_data_B){
    return JSON.parse(JSON_STR_online_data_A_online_data_B);
},

date_time_form(DATE_TIME){
    // const date = new Date('2023-09-22T16:40:19.249Z');
    const date = new Date(DATE_TIME);
    const formattedDate = date.toLocaleString('ja-JP', {year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false});
    return formattedDate;
},
change_show_user(USER){
    this.show_user = USER;
},
show_all_user(){
    this.show_user = '';
},
change_show_tag(TAG){
    this.show_tag = TAG;
},
show_all_tag(){
    this.show_tag = '';
},
change_show_order_by(){
    this.show_order_by = this.show_order_by === 'DESC' ? 'ASC' : 'DESC';
},
async fetch_get_tags_for_autocomplete(){
    const res = await fetch(this.endpoint + '/get_tags_for_autocomplete', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, search_tag: this.search_tag }),
    });
    const data = await res.json();
    this.tags = data['message'];
},

// this.online_data_A_connector()とthis.online_data_B_connector()によって、webのonline_data_Aとonline_data_Bは変換される。
online_data_A_connector(online_data_A_param){
    if(online_data_A_param){this.data_a = online_data_A_param};
    return this.data_a;
},
online_data_B_connector(online_data_B_param){
    if(online_data_B_param){this.data_b = online_data_B_param};
    return this.data_b;
},



async download_data_from_web_data_id(){
    const id = (new URL(window.location.href).searchParams.get("id")) ? Number(new URL(window.location.href).searchParams.get("id")) : null;
    if(id === null){return};
    const result = await this.web_data.message
        .filter(V=> V['id'] === id && V['data_type'] === this.data_type)
        [0];
    if(result === undefined){return};
    this.download_data(result['id']);
},




async fetch_read_all(){
    try {
    this.show_user = this.show_user === '' ? '' : this.show_user;
    this.show_tag = this.show_tag === '' ? '' : this.show_tag;
    const params_for_get = {
        user: this.show_user,
        tag: this.show_tag,
        order_by: this.show_order_by,
    };
    const url = new URL(this.endpoint + '/' + 'read_all');
    url.search = new URLSearchParams(params_for_get).toString();
    const res = await fetch(url, {method: 'GET', headers: {'Content-Type': 'application/json',},});
    this.web_data = await res.json(); console.log(this.web_data);
    } catch (error) {
        console.log(error);
    }
},
async fetch_insert_link(){
try {
    const error_check_online_data_A_online_data_B = (online_data_A, online_data_B) => {
        switch (true) {
            case online_data_A === undefined || online_data_A === null || online_data_A.length === 0: return 'online_data_Aが空です'; break;
            case online_data_B === undefined || online_data_B === null || online_data_B.length === 0: return 'online_data_Bが空です'; break;
            default: return 'OK'; break;
        }
    };
    const error_check_insert_data = (data_type, data_json_str) => {
        const is_include_DATA_TYPE = (target_data_type_str) => this.DATA_TYPE_ARRAY.some((DATA_TYPE) => target_data_type_str === DATA_TYPE);
        switch (true) {
            case data_json_str === undefined: return 'dataが空です'; break;
            case data_json_str.length > 10000: return 'dataが長すぎます'; break;
            case !is_include_DATA_TYPE(data_type): return '許可されていないdata_typeです'; break;
            default: return 'OK'; break;
        }
    };
    error_check_online_data_A_online_data_B(this.online_data_A_connector(), this.online_data_B_connector()) === 'OK' ? null : (()=>{throw new Error(error_check_online_data_A_online_data_B(this.online_data_A, this.online_data_B))})();
    const data_convert_jsonstr = (online_data_A, online_data_B) => JSON.stringify({'data1': online_data_A, 'data2': online_data_B});
    const data_json_str = data_convert_jsonstr(this.online_data_A_connector(), this.online_data_B_connector());
    error_check_insert_data(this.data_type, data_json_str) === 'OK' ? null : (()=>{throw new Error(error_check_insert_data(this.data_type, data_json_str))})();
    const res = await fetch(this.endpoint + '/insert_link', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, link: this.link,
            data_type: this.data_type,
            data_json_str: data_json_str,
        }),
    });
    const data = await res.json(); console.log(data);
} catch (error) {
    console.log(error);
}
},
async fetch_delete_link(LINK_ID){
    if (window.confirm('Are you sure you want to delete this link?')) {
        const res = await fetch(this.endpoint + '/delete_link', {
            method: 'POST',
            headers: {'Content-Type': 'application/json',},
            body: JSON.stringify({ name: this.name, password: this.password, id: LINK_ID }),
        });
        const data = await res.json(); 
        await this.fetch_read_all();
    } else {
        console.log('Delete operation cancelled by the user.');
    }
},
async fetch_like_increment_or_decrement(LINK_ID){
    const res = await fetch(this.endpoint + '/like_increment_or_decrement', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, link_id: LINK_ID }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},
async fetch_insert_comment(LINK_ID){
    const res = await fetch(this.endpoint + '/insert_comment', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, link_id: LINK_ID, comment: this.comment }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},
async fetch_delete_comment(COMMENT_ID){
    console.log(COMMENT_ID);
    const res = await fetch(this.endpoint + '/delete_comment', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, comment_id: COMMENT_ID }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},
async fetch_insert_comment_reply(COMMENT_ID){
    console.log(COMMENT_ID);
    const res = await fetch(this.endpoint + '/insert_comment_reply', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, comment_id: COMMENT_ID, comment_reply: this.comment_reply }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},
async fetch_delete_comment_reply(COMMENT_REPLY_ID){
    const res = await fetch(this.endpoint + '/delete_comment_reply', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, comment_reply_id: COMMENT_REPLY_ID }),
    });
    this.data = await res.json(); console.log(this.data);
    await this.fetch_read_all();
},
async fetch_insert_tag(LINK_ID){
    const res = await fetch(this.endpoint + '/insert_tag', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, link_id: LINK_ID, new_tag: this.search_tag }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},
async fetch_get_tags_for_autocomplete(){
    const res = await fetch(this.endpoint + '/get_tags_for_autocomplete', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, search_tag: this.search_tag }),
    });
    const data = await res.json();
    this.tags = data['message'];
},
async fetch_delete_tag(LINK_ID, TAG_ID){
    const res = await fetch(this.endpoint + '/delete_tag', {method: 'POST',headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({ name: this.name, password: this.password, id: TAG_ID, link_id: LINK_ID, }),
    });
    const data = await res.json(); console.log(data);
    await this.fetch_read_all();
},


textarea_opener() {
    this.textarea_visible = !this.textarea_visible;
},














// for_online_function















q_a_fn2_1() {
return this.online_data_B.map((V, IDX)=>{
    return shuffle(shuffle(R.without(this.online_data_B[IDX], this.online_data_B)).slice(0, 2).concat(this.online_data_B[IDX]));
});
},
// fn2_2() {
q_a_fn2_2() {
return R.zip(this.online_data_B, this.q_a_fn2_1()).map((V,IDX)=>[V[0], V[1], this.data_a.split("\n")[IDX]]);
},
// processing() {
q_a_processing() {
this.online_data_B = this.data_b.split("\n");
this.q_a_data4 = this.q_a_fn2_2();
this.q_a_data5 = R.repeat(undefined, this.q_a_data4.length);
this.for_debug();
},
// fn3(correct, answer, INDEX) {
q_a_fn3(correct, answer, INDEX) {
this.q_a_data5[INDEX] = answer === correct ? "⭕️" : "❎";
this.q_a_fn3_1();
this.q_a_change_current_index(+1);
this.current_index === this.q_a_data4.length ? this.current_index = 0 : null;
},
q_a_fn3_1(){
const prgr = document.getElementById('prgr');
// progress_bar_value_arrayの値を設定する
const progress_bar_value_array = to_ary(this.q_a_data5);
// => ['❎', '❎', '⭕️', null]
// progress_bar_value_arrayの'⭕️'の割合を求める
const progress_bar_value_array_length = progress_bar_value_array.filter(V=>V==='⭕️').length;
const progress_bar_value_array_per = progress_bar_value_array_length / progress_bar_value_array.length * 100;
console.log(progress_bar_value_array_per);
prgr.value = progress_bar_value_array_per;
},
// fn4_1() {
q_a_fn4_1() {
a = R.zip(this.q_a_data4, this.q_a_data5);
b = R.collectBy(
        (V)=> ( V[1] === '❎' || V[1] === undefined ) ,
        a
    );
c = b[0][0][1] === '⭕️' ? b[1] : b[0];
this.q_a_data4 = c.map(V=>V[0]);
},
// fn4_2() {
q_a_fn4_2() {
this.q_a_data5 = [];
},
// fn4_3() {
q_a_fn4_3() {
this.online_data_A.push([
    R.transpose(this.q_a_data4)[2].join("\n"),
    R.transpose(this.q_a_data4)[0].join("\n"),
]);
},
// fn4_4() {
q_a_fn4_4() {
return to_ary(this.q_a_data5).every(V=>V === '⭕️')
},
// fn4() {
q_a_fn4() {
if(this.q_a_fn4_4()){
    this.q_a_data4 = this.q_a_data5 = [];
    return;
};
this.q_a_fn4_1();
this.q_a_fn4_2();
this.q_a_fn4_3();
document.getElementById('prgr').value = 0;
},
// test_index(Test_index) {
q_a_test_index(Test_index) {
this.q_a_data4.forEach((V,IDX)=>this.q_a_fn3(V[0], V[1][Test_index], IDX));
this.q_a_fn4();
},
// change_current_index(ONE_UP_OR_ONE_DOWN=1) {
q_a_change_current_index(ONE_UP_OR_ONE_DOWN=1) {
    this.current_index = this.current_index + (ONE_UP_OR_ONE_DOWN);
    this.current_index < 0 ? this.current_index = this.q_a_data4.length - 1 : null;
    this.current_index > this.q_a_data4.length - 1 ? this.current_index = 0 : null;
},
// ge_only_one_mode() {
q_a_fn20(INDEX){
this.q_a_data5[INDEX] = null;
},


// core of q_a



auto_slide(){
    this.auto_slide_mode = true;
    setInterval(() => {
        this.next_slide();
        // 0.5であれば1000倍して500msごとにスライドを進める
    }, this.time_interval * 1000);
},
stop_auto_slide(){
    this.auto_slide_mode = false;
    // 全てのsetIntervalを停止する
    for (let i = 1; i < 99999; i++) window.clearInterval(i);
},
// 最初へ戻す関数
first_slide(){
    this.currentIndex = 0;
},
prev_slide(){
    if (this.currentIndex > 0) {
        this.currentIndex--;
    } else {
        this.currentIndex = this.slides.length - 1;
    }
},
next_slide(){
    if (this.currentIndex < this.slides.length - 1) {
        this.currentIndex++;
    } else {
        this.currentIndex = 0;
    }
},
change_paint_or_raw(RAW_IDX){
    this.exe1_data[RAW_IDX][4] = !this.exe1_data[RAW_IDX][4];
},
exe1(){
    const data_0_ary = this.data_a.split('\n');
    const data_1_ary = this.data_b.split('\n');
    const res = data_0_ary.map((val, idx) => {
        return {
            data_0: val,
            data_1: data_1_ary[idx],
        };
    });
    d1 = res;
    d2 = d1.map((val, idx) => val.data_1 );
    d3 = d2.map((val, idx) => {
        const filter_d2 = d2.filter((val2, idx2) => val2 !== d2[idx]);
        const only_filter_data = shuffle(filter_d2)[0];
        const ok_or_ng_answer_str_ary = shuffle([d2[idx], only_filter_data]);
        const data_0 = d1[idx].data_0;
        return [data_0, val, ok_or_ng_answer_str_ary, false, true];
    });
    this.exe1_data = d3;
    this.slides = this.make_slide(this.exe1_data);
},
make_slide(Ary_Param){
    function flattenAndExtract(ary) {
        let res = [];
        ary.forEach((val, idx) => {
            res.push({q: val[0]});
            res.push({a: val[1]});
        });
        return res;
    }
    return flattenAndExtract(Ary_Param);
},
text_attacher(IDX){
    if(this.textContent_ary_1){
        this.data_a = this.textContent_ary_1[IDX];
        this.data_b = this.textContent_ary_2[IDX];
        return true;
    }
},
// sample_array_objからIDX指定してsample_array_objのdata_0とdata_1をtextareaに格納する関数
set_data_sample_array_obj(IDX){
    if(this.text_attacher(IDX) === true){
        this.exe1();
        return;
    }
    this.data_a = this.textContent_ary_1[IDX];
    this.data_b = this.textContent_ary_2[IDX];
    this.exe1();
},
check_maru_batu(VAL, RESULT){
    console.log(VAL);
    console.log(RESULT);
    if(VAL[1] === RESULT){
        console.log('正解');
        VAL[3] = true;
    }else{
        console.log('不正解');
        VAL[3] = false;
    }
},




toggle_sidebar() {
    console.log("toggle_sidebar");
    // this.column_1_noneのtrue/falseでcolumn-1の表示/非表示を切り替える
    this.column_1_none = !this.column_1_none;

},

},
}).mount('.app');


// div.column-2とfixed_element以外を非表示にする
// document.querySelectorAll('body :not(.fixed_element)').forEach(V=>V.style.display='none');
</script>
</html>