<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fast answer</title>
<script src="./lib/vue@3.2.36.global.prod.js"></script>
<script src="./lib/shuffle.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.36/vue.cjs.js"></script> -->

<style>
    /* 2択最速回答(時間決めてor時間測定) */
    .black-paint {
        color: black;
        background-color: black;
    }

</style>

</head>
<body class="app">
    <!-- data_sample_array_obj for して　set_data_sample_array_obj(IDX) するボタンの -->
    <div v-for="(DATA_VAL, DATA_IDX) in sample_array_obj">
        <button @click="set_data_sample_array_obj(DATA_IDX)">set_data_sample_array_obj({{ DATA_IDX }})</button>
    </div>
<h1>⭕️❎クイズ作成アプリ デモ版</h1>
<!-- <button @click="fn_0">fn_0</button> -->
<!-- <template v-for="(DATA_VAL, DATA_IDX) in data_0_1_pair_ary.slice(0, 2)"> -->

    <!-- done_delete_mode switch button -->
    <!-- <button @click="done_delete_mode = !done_delete_mode">done_delete_mode</button> -->
    <!-- done_delete_mode ON/OFF表示 -->
    <!-- <span>
        <span v-if="done_delete_mode">ON</span>
        <span v-else>OFF</span>
    </span> -->

    <!-- show_textarea switch button -->
    <button @click="show_textarea = !show_textarea">show_textarea</button>
    <!-- show_textareaでこのdivの表示非表示を切り替える -->
<div v-if="show_textarea">
<textarea name="" id="" cols="30" rows="10" v-model="data_0"></textarea>
<textarea name="" id="" cols="30" rows="10" v-model="data_1"></textarea>
</div>





<!-- <template>
    <div>
      <div id="parent_section">
        <a v-for="i in 100" :key="i" :href="'#target_section_' + i">リンク{{ i }}</a>
      </div>
      <div id="target_parent_section">
        <div v-for="i in 100" :key="i" :id="'target_section_' + i">
          <h2>Section {{ i }}</h2>
          <p>Some content...</p>
          ターゲット{{ i }}
        </div>
      </div>
    </div>
</template> -->

<!-- <template v-for="(DATA_VAL, DATA_IDX) in data_0_1_pair_ary">
    <div :id="DATA_VAL.data_0" :ref="DATA_VAL.data_0">
        <button @click="exe1(DATA_IDX)">{{ DATA_VAL.data_0 }}</button>
        <button @click="exe1(DATA_IDX)">{{ DATA_VAL.data_1 }}</button>
    </div>
</template> -->

<!-- {{done_delete_mode}} -->
<template v-for="(DATA_VAL, DATA_IDX) in exe1_data">
    <!-- done_delete_modeがtrueかつDATA_VAL[3]がtrueならその行は非表示になる -->
    <!-- <div v-if="done_delete_mode === true && DATA_VAL[3] === false"> -->
    <!-- <div v-if="done_delete_mode === false && DATA_VAL[3] === false"> -->
    <div v-if="DATA_VAL[3] === false">
    <!-- {{DATA_VAL[3]}} -->
    <!-- <div> -->
        <span>{{ DATA_VAL[0] }}</span>
        <span> = </span>
        <span>{{ DATA_VAL[2][0] }}</span>
        <div>
            <button @click="check_maru_batu(DATA_VAL, DATA_VAL[2][0])">⭕️</button>
            <button @click="check_maru_batu(DATA_VAL, DATA_VAL[2][1])">❎</button>
        </div>

        <!-- <span>
            <span v-if="done_delete_mode === false && DATA_VAL[3] === true">✔️</span>
        </span> -->
    </div>
</template>

</body>
<script>
let d1, d2, d3, d4, d5, d6, d7, d8, d9 = null;

const app = Vue.createApp({
data() {
    return {
textContent: '',
done_delete_mode: false,
// done_delete_mode: true,
show_textarea: false,

        exe1_data: [],
        data_0: `aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
ccccccccccccccccccccccccccccccccccc
ddddddddddddddddddddddddddddddddddddddddddddd
eeeeeeeeeeeeeeeeeeeeeeee`,
data_1: `AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
EEEEEEEEEEEEEEEEEEEEEEEE`,
data_0_ary: ['a','b','c','d','e'],
data_1_ary: [
'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA',
'BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB',
'CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC',
'DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD',
'EEEEEEEEEEEEEEEEEEEEEEEE',
    ],

    data_0_1_pair_ary: [],

    sample_array_obj: [
{
    data_0: ['1', '2', '3', '4', '5','6', '7', '8', '9', '10','11', '12', '13', '14', '15','16', '17', '18', '19', '20',],
    data_1: ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100','110','120','130','140','150','160','170','180','190','200',]
},
{data_0: ['a','b','c','d',
'e','f','g','h',
'i','j','k','l',
'm','n','o','p',
'q','r','s','t',
],data_1: ['A','B','C','D',
'E','F','G','H',
'I','J','K','L',
'M','N','O','P',
'Q','R','S','T',
],},
{data_0: ['あ','い','う','え','お',],data_1: ['ア','イ','ウ','エ','オ',],},
],

}},
watch: {
//    any: {
//      handler() {
//      },
//      deep: true
//    },

// data_0かdata_1どちらかが変更されたらfn_1を実行
data_0: 'fn_1',
data_1: 'fn_1',

},
beforeMounte(){
},
async mounted() {
    // this.fn_1();

// let url = new URL(window.location.href);
// let preset = url.searchParams.get('preset') ? url.searchParams.get('preset') : null;
// this.sample_array_obj.forEach((val, idx) => {
//     if(val.data_0.includes(preset)){
//         this.data_0 = this.sample_array_obj[idx].data_0.join('\n');
//         this.data_1 = this.sample_array_obj[idx].data_1.join('\n');
//     }
// });
 
// setTimeout(() => {
//   this.scrollToDiv();
// });
const response = await fetch('/asset/res_2_ary_2.txt');
this.textContent = await response.text();

this.set_data_sample_array_obj(1);
// this.fn_1();
// this.exe1();
},
beforeUpdate() {
},
updated() {
// setTimeout(() => {
//   this.scrollToDiv();
// });

},
methods: {
scrollToDiv(){
    let url = new URL(window.location.href);
    let preset = url.searchParams.get('preset') ? url.searchParams.get('preset') : null;
    this.sample_array_obj.forEach((val, idx) => {
        if(val.data_0.includes(preset)){
            this.data_0 = this.sample_array_obj[idx].data_0.join('\n');
            this.data_1 = this.sample_array_obj[idx].data_1.join('\n');
        }
    });
    // this.$refs[preset][0].scrollIntoView();
},
fn_1(){
    this.data_0_ary = this.data_0.split('\n');
    this.data_1_ary = this.data_1.split('\n');
    this.data_0_1_pair_ary = this.data_0_ary.map((val, idx) => {
        return {
            data_0: val,
            data_1: this.data_1_ary[idx],
            paint: true,
        };
    });
},
exe1(RAW_IDX){
    this.fn_1();
    d1 = this.data_0_1_pair_ary;
    d2 = d1.map((val, idx) => val.data_1 );
    d3 = d2.map((val, idx) => {
        const filter_d2 = d2.filter((val2, idx2) => val2 !== d2[idx]);
        console.log(d2);
        // d4をシャッフルして1つ取り出す
        const only_filter_data = shuffle(filter_d2)[0];
        const ok_or_ng_answer_str_ary = shuffle([d2[idx], only_filter_data]);
        const data_0 = d1[idx].data_0;
        return [data_0, val, ok_or_ng_answer_str_ary, false];
    });
    this.exe1_data = d3;
    // d1,d2,d3 = null;
},
set_data_sample_array_obj(IDX){
    console.log("test", IDX);
    this.data_0 = this.sample_array_obj[IDX].data_0.join('\n');
    this.data_1 = this.sample_array_obj[IDX].data_1.join('\n');
    this.exe1();
},
check_maru_batu(VAL, RESULT){
    console.log(VAL);
    console.log(RESULT);
    if(VAL[1] === RESULT){
        console.log('正解');
        VAL[3] = true;
    }else{
        console.log('不正解');
        VAL[3] = false;
    }
},
},
}).mount('.app');
</script>
</html>