<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fast answer</title>
<script src="./lib/vue@3.2.36.global.prod.js"></script>
<script src="./lib/shuffle.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.36/vue.cjs.js"></script> -->

<style>
    /* 2択最速回答(時間決めてor時間測定) */
    .black-paint {
        color: black;
        background-color: black;
    }
    /* not_quiz_sectionをサイドバーで表示/非表示を切り替え */
    .not_quiz_section {
        position: fixed;
        top: 0;
        left: 0;
        width: 2rem;
        height: 100vh;
        background-color: #f1f1f1;
        z-index: 100;
    }
    .show_not_quiz_section {
        left: 0;
        width: 8rem;
    }
    /* quiz_sectionをnot_quiz_sectionの分横にずらす */
    .quiz_section {
        position: relative;
        top: 0;
        left: 4rem;
        width: calc(100% - 4rem);
        height: 100vh;
        background-color: #f1f1f1;
        z-index: 1;
    }




</style>

</head>
<body class="app">

    <!-- not_quiz_section slide button -->
<!-- <button @click="change_show_not_quiz_section">not_quiz_section</button> -->
<div class="not_quiz_section">
        <!-- this.textContent_ary_1.length の 長さ分のeachをする -->
        <div v-for="(DATA_VAL, DATA_IDX) in textContent_ary_1">
            <div>
                <!-- <button @click="set_data_sample_array_obj(DATA_IDX)">set_data_sample_array_obj({{ DATA_IDX }})</button> -->
                <!-- file_name_aryを表示 -->
                <!-- <span>{{ file_name_ary[DATA_IDX] }}</span> -->
                <!-- file_name_aryをbuttonにする -->
                <button @click="set_data_sample_array_obj(DATA_IDX)">{{ file_name_ary[DATA_IDX] }}</button>
            </div>
        </div>

        <!-- data_sample_array_obj for して　set_data_sample_array_obj(IDX) するボタンの -->
        <div v-for="(DATA_VAL, DATA_IDX) in sample_array_obj">
            <button @click="set_data_sample_array_obj(DATA_IDX)">set_data_sample_array_obj({{ DATA_IDX }})</button>
        </div>
    <!-- <h1>⭕️❎クイズ作成アプリ デモ版</h1> -->
    <!-- <button @click="fn_0">fn_0</button> -->
    <!-- <template v-for="(DATA_VAL, DATA_IDX) in data_0_1_pair_ary.slice(0, 2)"> -->

        <!-- done_delete_mode switch button -->
        <!-- <button @click="done_delete_mode = !done_delete_mode">done_delete_mode</button> -->
        <!-- done_delete_mode ON/OFF表示 -->
        <!-- <span>
            <span v-if="done_delete_mode">ON</span>
            <span v-else>OFF</span>
        </span> -->

        <!-- show_textarea switch button -->
</div>


<!-- <template>
    <div>
      <div id="parent_section">
        <a v-for="i in 100" :key="i" :href="'#target_section_' + i">リンク{{ i }}</a>
      </div>
      <div id="target_parent_section">
        <div v-for="i in 100" :key="i" :id="'target_section_' + i">
          <h2>Section {{ i }}</h2>
          <p>Some content...</p>
          ターゲット{{ i }}
        </div>
      </div>
    </div>
</template> -->

<!-- <template v-for="(DATA_VAL, DATA_IDX) in data_0_1_pair_ary">
    <div :id="DATA_VAL.data_0" :ref="DATA_VAL.data_0">
        <button @click="exe1(DATA_IDX)">{{ DATA_VAL.data_0 }}</button>
        <button @click="exe1(DATA_IDX)">{{ DATA_VAL.data_1 }}</button>
    </div>
</template> -->

<!-- {{done_delete_mode}} -->

<div class="quiz_section">
    <!-- <button @click="change_show_not_quiz_section">not_quiz_section</button> -->
<button @click="show_textarea = !show_textarea">show_textarea</button>
<!-- change mode -->
<button @click="mode = 'maru_batu'">⭕️❎問題モード</button>
<button @click="mode = 'black_paint'">黒塗りモード</button>


<div v-if="show_textarea">
<textarea name="" id="" cols="30" rows="10" v-model="data_0"></textarea>
<textarea name="" id="" cols="30" rows="10" v-model="data_1"></textarea>
</div>




<template v-for="(DATA_VAL, DATA_IDX) in exe1_data">
<div v-if="mode === 'maru_batu'">
    <div v-if="DATA_VAL[3] === false">
    <span>{{ DATA_VAL[0] }}</span>
    <span> = </span>
    <span>{{ DATA_VAL[2][0] }}</span>
    <div>
        <button @click="check_maru_batu(DATA_VAL, DATA_VAL[2][0])">⭕️</button>
        <button @click="check_maru_batu(DATA_VAL, DATA_VAL[2][1])">❎</button>
    </div>
    </div>
</div>

<div v-if="mode === 'black_paint'">
    <div>{{ DATA_VAL[0] }}</div>
    <div @click="change_paint_or_raw(DATA_IDX)" :class="DATA_VAL[4] ? 'black-paint' : ''">{{ DATA_VAL[2][0] }}</div>
</div>
</template>


</div>
</body>
<script>
let d1, d2, d3, d4, d5, d6, d7, d8, d9 = null;

const app = Vue.createApp({
data() {
    return {
// mode: 'maru_batu',
mode: 'black_paint',

file_name_ary: [],
textContent_ary_1: [],
textContent_ary_2: [],

done_delete_mode: false,
// done_delete_mode: true,
show_textarea: false,

        exe1_data: [],
        data_0: `aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
ccccccccccccccccccccccccccccccccccc
ddddddddddddddddddddddddddddddddddddddddddddd
eeeeeeeeeeeeeeeeeeeeeeee`,
data_1: `AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
EEEEEEEEEEEEEEEEEEEEEEEE`,
data_0_ary: ['a','b','c','d','e'],
data_1_ary: [
'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA',
'BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB',
'CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC',
'DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD',
'EEEEEEEEEEEEEEEEEEEEEEEE',
    ],

    data_0_1_pair_ary: [],

sample_array_obj: [
// {
//     data_0: ['1', '2', '3', '4', '5','6', '7', '8', '9', '10','11', '12', '13', '14', '15','16', '17', '18', '19', '20',],
//     data_1: ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100','110','120','130','140','150','160','170','180','190','200',]
// },
// {data_0: ['a','b','c','d',
// 'e','f','g','h',
// 'i','j','k','l',
// 'm','n','o','p',
// 'q','r','s','t',
// ],data_1: ['A','B','C','D',
// 'E','F','G','H',
// 'I','J','K','L',
// 'M','N','O','P',
// 'Q','R','S','T',
// ],},
// {data_0: ['あ','い','う','え','お',],data_1: ['ア','イ','ウ','エ','オ',],},
],

}},
watch: {
//    any: {
//      handler() {
//      },
//      deep: true
//    },

// data_0かdata_1どちらかが変更されたらfn_1を実行
data_0: 'fn_1',
data_1: 'fn_1',

},
beforeMounte(){
},
async mounted() {
    // this.fn_1();

// let url = new URL(window.location.href);
// let preset = url.searchParams.get('preset') ? url.searchParams.get('preset') : null;
// this.sample_array_obj.forEach((val, idx) => {
//     if(val.data_0.includes(preset)){
//         this.data_0 = this.sample_array_obj[idx].data_0.join('\n');
//         this.data_1 = this.sample_array_obj[idx].data_1.join('\n');
//     }
// });
 
// setTimeout(() => {
//   this.scrollToDiv();
// });
const text_url_ary_1 = [
    './asset/txt_dir/res_2_ary_1.txt',
    './asset/txt_dir/res_2_2_ary_1.txt',
    './asset/txt_dir/res_3_ary_1.txt',
    './asset/txt_dir/res_4_ary_1.txt',
    './asset/txt_dir/res_5_ary_1.txt',
];
const text_url_ary_2 = [
    './asset/txt_dir/res_2_ary_3.txt',
    './asset/txt_dir/res_2_2_ary_3.txt',
    './asset/txt_dir/res_3_ary_3.txt',
    './asset/txt_dir/res_4_ary_3.txt',
    './asset/txt_dir/res_5_ary_3.txt',
];
const global_file_name_ary = [
    '英検2級',
    '英検準2級',
    '英検3級',
    '英検4級',
    '英検5級',
];
this.file_name_ary = global_file_name_ary;
for(let i = 0; i < text_url_ary_1.length; i++){
    const response = await fetch(text_url_ary_1[i]);
    this.textContent_ary_1.push(await response.text());
}
for(let i = 0; i < text_url_ary_2.length; i++){
    const response = await fetch(text_url_ary_2[i]);
    this.textContent_ary_2.push(await response.text());
}
if(this.textContent_ary_1.length !== this.textContent_ary_2.length){
    console.error('textContent_ary_1とtextContent_ary_2のlengthが異なります');
}
this.set_data_sample_array_obj(0);


},
beforeUpdate() {
},
updated() {
// setTimeout(() => {
//   this.scrollToDiv();
// });

},
methods: {
scrollToDiv(){
    let url = new URL(window.location.href);
    let preset = url.searchParams.get('preset') ? url.searchParams.get('preset') : null;
    this.sample_array_obj.forEach((val, idx) => {
        if(val.data_0.includes(preset)){
            this.data_0 = this.sample_array_obj[idx].data_0.join('\n');
            this.data_1 = this.sample_array_obj[idx].data_1.join('\n');
        }
    });
    // this.$refs[preset][0].scrollIntoView();
},
fn_1(){
    this.data_0_ary = this.data_0.split('\n');
    this.data_1_ary = this.data_1.split('\n');
    this.data_0_1_pair_ary = this.data_0_ary.map((val, idx) => {
        return {
            data_0: val,
            data_1: this.data_1_ary[idx],
        };
    });
},
change_paint_or_raw(RAW_IDX){
    this.exe1_data[RAW_IDX][4] = !this.exe1_data[RAW_IDX][4];
},
exe1(){
    this.fn_1();
    d1 = this.data_0_1_pair_ary;
    d2 = d1.map((val, idx) => val.data_1 );
    d3 = d2.map((val, idx) => {
        const filter_d2 = d2.filter((val2, idx2) => val2 !== d2[idx]);
        const only_filter_data = shuffle(filter_d2)[0];
        const ok_or_ng_answer_str_ary = shuffle([d2[idx], only_filter_data]);
        const data_0 = d1[idx].data_0;
        return [data_0, val, ok_or_ng_answer_str_ary, false, true];
    });
    this.exe1_data = d3;
    // d1,d2,d3 = null;
},
text_attacher(IDX){
    if(this.textContent_ary_1){
        this.data_0 = this.textContent_ary_1[IDX];
        this.data_1 = this.textContent_ary_2[IDX];
        return true;
    }
},
// sample_array_objからIDX指定してsample_array_objのdata_0とdata_1をtextareaに格納する関数
set_data_sample_array_obj(IDX){
    if(this.text_attacher(IDX) === true){
        this.exe1();
        return;
    }
    
    this.data_0 = this.textContent_ary_1[IDX];
    this.data_1 = this.textContent_ary_2[IDX];
    this.exe1();
},
check_maru_batu(VAL, RESULT){
    console.log(VAL);
    console.log(RESULT);
    if(VAL[1] === RESULT){
        console.log('正解');
        VAL[3] = true;
    }else{
        console.log('不正解');
        VAL[3] = false;
    }
},
change_show_not_quiz_section(){
    this.show_not_quiz_section = !this.show_not_quiz_section;
    // cssを貼り替える
    this.show_not_quiz_section ? this.show_not_quiz_section = false : this.show_not_quiz_section = true;


},
},
}).mount('.app');
</script>
</html>