<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue_3_starter</title>
<script src="./lib/vue@3.2.36.global.prod.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.36/vue.cjs.js"></script> -->

<style>
    /* 黒塗り文字にするclass */
    .black-paint {
        color: black;
        background-color: black;
    }

</style>

</head>
<body class="app">
    <!-- data_sample_array_obj for して　set_data_sample_array_obj(IDX) するボタンの -->
    <div v-for="(DATA_VAL, DATA_IDX) in sample_array_obj">
        <button @click="set_data_sample_array_obj(DATA_IDX)">set_data_sample_array_obj({{ DATA_IDX }})</button>
    </div>
    <h1>黒塗りクイズ作成アプリ デモ版</h1>
<!-- <button @click="fn_0">fn_0</button> -->
<!-- <template v-for="(DATA_VAL, DATA_IDX) in data_0_1_pair_ary.slice(0, 2)"> -->

<textarea name="" id="" cols="30" rows="10" v-model="data_0"></textarea>
<textarea name="" id="" cols="30" rows="10" v-model="data_1"></textarea>




<template>
    <div>
      <div id="parent_section">
        <a v-for="i in 100" :key="i" :href="'#target_section_' + i">リンク{{ i }}</a>
      </div>
      <div id="target_parent_section">
        <div v-for="i in 100" :key="i" :id="'target_section_' + i">
          <h2>Section {{ i }}</h2>
          <p>Some content...</p>
          ターゲット{{ i }}
        </div>
      </div>
    </div>
</template>

<template v-for="(DATA_VAL, DATA_IDX) in data_0_1_pair_ary">
    <!-- $refsを追加 -->
    <div :id="DATA_VAL.data_0" :ref="DATA_VAL.data_0">
        <button @click="change_paint_or_raw(DATA_IDX)">{{ DATA_VAL.data_0 }}</button>
        <div :class="DATA_VAL.paint ? 'black-paint' : ''" @click="change_paint_or_raw(DATA_IDX)">{{ DATA_VAL.data_1 }}</div>
    </div>
</template>

</body>
<script>
    let hoge = null;
const app = Vue.createApp({
data() {
    return {
file_name_ary: [],
textContent_ary_1: [],
textContent_ary_2: [],

        data_0: `aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
ccccccccccccccccccccccccccccccccccc
ddddddddddddddddddddddddddddddddddddddddddddd
eeeeeeeeeeeeeeeeeeeeeeee`,
data_1: `AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
EEEEEEEEEEEEEEEEEEEEEEEE`,
data_0_ary: ['a','b','c','d','e'],
data_1_ary: [
'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA',
'BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB',
'CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC',
'DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD',
'EEEEEEEEEEEEEEEEEEEEEEEE',
    ],

    data_0_1_pair_ary: [],

    sample_array_obj: [
{
    data_0: ['1', '2', '3', '4', '5','6', '7', '8', '9', '10','11', '12', '13', '14', '15','16', '17', '18', '19', '20',],
    data_1: ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100','110','120','130','140','150','160','170','180','190','200',]
},
{data_0: ['a','b','c','d',
'e','f','g','h',
'i','j','k','l',
'm','n','o','p',
'q','r','s','t',
],data_1: ['A','B','C','D',
'E','F','G','H',
'I','J','K','L',
'M','N','O','P',
'Q','R','S','T',
],},
{data_0: ['あ','い','う','え','お',],data_1: ['ア','イ','ウ','エ','オ',],},
],

}},
watch: {
//    any: {
//      handler() {
//      },
//      deep: true
//    },

// data_0かdata_1どちらかが変更されたらfn_1を実行
data_0: 'fn_1',
data_1: 'fn_1',

},
beforeMounte(){
},
async mounted() {
    const text_url_ary_1 = [
    './asset/txt_dir/res_2_ary_1.txt',
    './asset/txt_dir/res_2_2_ary_1.txt',
    './asset/txt_dir/res_3_ary_1.txt',
    './asset/txt_dir/res_4_ary_1.txt',
    './asset/txt_dir/res_5_ary_1.txt',
];
const text_url_ary_2 = [
    './asset/txt_dir/res_2_ary_3.txt',
    './asset/txt_dir/res_2_2_ary_3.txt',
    './asset/txt_dir/res_3_ary_3.txt',
    './asset/txt_dir/res_4_ary_3.txt',
    './asset/txt_dir/res_5_ary_3.txt',
];
const global_file_name_ary = [
    '英検2級',
    '英検準2級',
    '英検3級',
    '英検4級',
    '英検5級',
];
this.file_name_ary = global_file_name_ary;
for(let i = 0; i < text_url_ary_1.length; i++){
    const response = await fetch(text_url_ary_1[i]);
    this.textContent_ary_1.push(await response.text());
}
for(let i = 0; i < text_url_ary_2.length; i++){
    const response = await fetch(text_url_ary_2[i]);
    this.textContent_ary_2.push(await response.text());
}
if(this.textContent_ary_1.length !== this.textContent_ary_2.length){
    console.error('textContent_ary_1とtextContent_ary_2のlengthが異なります');
}
this.set_data_sample_array_obj(0);
    this.fn_1();



},
beforeUpdate() {
},
updated() {
// setTimeout(() => {
//   this.scrollToDiv();
// });

},
methods: {
scrollToDiv(){
    // this.set_data_sample_array_obj(0);
    console.log('scrollToDiv');
    let url = new URL(window.location.href);
    let preset = url.searchParams.get('preset') ? url.searchParams.get('preset') : null;

    this.sample_array_obj.forEach((val, idx) => {
        // presetがdata_0に含まれていたらset_data_sample_array_objを実行
        if(val.data_0.includes(preset)){
            this.data_0 = this.sample_array_obj[idx].data_0.join('\n');
            this.data_1 = this.sample_array_obj[idx].data_1.join('\n');
        }
    });

    // let element = document.getElementById(preset) ? document.getElementById(preset) : null;
        console.log(preset);
        console.log(this.$refs[preset][0]);

    //     hoge = element;
    //     if (!preset || !element) {
    //         return;
    //     }
    //     element.scrollIntoView();


    // $refsで指定した要素にscrollIntoView()を実行
    this.$refs[preset][0].scrollIntoView();

},

text_attacher(IDX){
    if(this.textContent_ary_1){
        this.data_0 = this.textContent_ary_1[IDX];
        this.data_1 = this.textContent_ary_2[IDX];
        return true;
    }
},
// sample_array_objからIDX指定してsample_array_objのdata_0とdata_1をtextareaに格納する関数
set_data_sample_array_obj(IDX){
    if(this.text_attacher(IDX) === true){
        return;
    }

    this.data_0 = this.sample_array_obj[IDX].data_0.join('\n');
    this.data_1 = this.sample_array_obj[IDX].data_1.join('\n');
},
fn_0(){
    console.log(this.data_0);
},
fn_1(){
    // console.log(JSON.parse(JSON.stringify(this.data_1)));

    // data_0を改行で分割してdata_0_aryに格納
    this.data_0_ary = this.data_0.split('\n');
    // data_1を改行で分割してdata_1_aryに格納
    this.data_1_ary = this.data_1.split('\n');
    // data_0_aryとdata_1_ary1:1の配列のペアにする
    this.data_0_1_pair_ary = this.data_0_ary.map((val, idx) => {
        return {
            data_0: val,
            data_1: this.data_1_ary[idx],
            paint: true,
        };
    });
    // data_0_1_pair_aryをコンソールに表示
    // console.log(this.data_0_1_pair_ary[0]);

},
change_paint_or_raw(RAW_IDX){
    // paintのtrue/falseを切り替える
    this.data_0_1_pair_ary[RAW_IDX].paint = !this.data_0_1_pair_ary[RAW_IDX].paint;
    // data_0_1_pair_aryをコンソールに表示
    console.log(this.data_0_1_pair_ary[RAW_IDX]);
},
},
}).mount('.app');
</script>
</html>