<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>memory system of tile style: sample</title>

<!-- <link rel="manifest" href="manifest.json"> -->

<!-- https://taroyanaka.github.io/q_a/sample_data_for_index3.txt -->

<link rel="stylesheet" href="./lib/reset.css">
<!-- <script src="./lib/localforage@1.10.0.js"></script> -->
<script src="./lib/vue@3.2.36.global.prod.js"></script>
<script src="./lib/ramda.@0.28.0.js"></script>
<script src="./lib/shuffle.js"></script>
<script src="./lib/my_global_function_for_q_a.js" defer></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/localforage@1.10.0/dist/localforage.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.prod.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.28.0/ramda.min.js"></script> -->
<style>
:root {
}
.app{
}
input[type="text"]{
    width: 3rem;
}
</style>
</head>
<body class="app">
<div id="parent_block" data-x="0" data-y="0" style="position: relative;" >
    <div class="block1"
    :data-x="VAL[0]"
    :data-y="VAL[1]"
    :style="'position: absolute;' + 'left: ' + (VAL[0]*x_px) + 'px;' + 'top: ' + (VAL[1]*y_px) + 'px;'"
    v-for="(VAL, IDX) in data1"
    >
        <input type="text" 
        :style="{ 'color': (VAL[3]['no_show'] === true ? 'transparent' : 'black') }"
        v-model="data1[IDX][2]">
        <button @click="add_x(IDX)">add_x</button>
        <button @click="add_y(IDX)">add_y</button>
        <button @click="remove_block(IDX)">remove</button>
        <button @click="change_to_no_show(IDX)">!</button>
    </div>
</div>
</body>
<script>
const app = Vue.createApp({
data() {
return {
x_px: 300,
y_px: 18,
data1: [
    [0, 0, 'text10', {no_show: false}],
],
}},
watch: {
    data1: {
        handler() {
        },
        deep: true
    },
},
beforeCreate(){},
created(){},
beforeMount(){},
mounted(){},
beforeUpdate(){},
updated(){},
methods: {
// return true when there is same x,y in data1, one line fn
check_xy(x, y){
    return this.data1.some((val) => {
        return (val[0] === x && val[1] === y);
    });
},
add_x(IDX){
    // early return when there is same x,y in data1
    if(this.check_xy(this.data1[IDX][0]+1, this.data1[IDX][1])){
        console.log('same x,y');
        return;
    }
    // add x offset from IDX block
    this.data1.splice(IDX, 0, [this.data1[IDX][0]+1, this.data1[IDX][1], 'text10', {no_show: false}]);
},
add_y(IDX){
    // early return when there is same x,y in data1
    if(this.check_xy(this.data1[IDX][0], this.data1[IDX][1]+1)){
        console.log('same x,y');
        return;
    }
    // add y offset from IDX block
    this.data1.splice(IDX, 0, [this.data1[IDX][0], this.data1[IDX][1]+1, 'text10', {no_show: false}]);

},
remove_block(IDX){
    this.data1.splice(IDX, 1);
},
change_to_no_show(IDX){
    this.data1[IDX][3]['no_show'] = this.data1[IDX][3]['no_show'] === true ? false : true;
},

},
}).mount('.app');
</script>
</html>